body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* image from: https://unsplash.com/photos/an-aerial-view-of-a-body-of-water-7vHr9SPJXws */
  background-image:url('./images/waves.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden{
  display: none;
}

.nav-pills>li>a {
    background-color:transparent;
}

.btn.btn-primary.active {
  background-color: rgb(37, 33, 67);
  border-color: rgb(18, 5, 30);
}

.input-dark::placeholder{
  color: #70767c;
}
